---
title: Jack Reynolds
---
<section class="home">
  <h1>JACK REYNOLDS</h1>
  <div class="grid-row">
    <div class="grid-col col-3"><%= tag :img, :src => "images/black-back.png" %></div>
    <div class="grid-col col-3"><%= tag :img, :src => "images/red-front.png" %></div>
    <div class="grid-col col-3"><%= tag :img, :src => "images/navy-back.png" %></div>
  </div>
  <div class="grid-row">
    <div class="grid-col col-3"><%= tag :img, :src => "images/blue-front.png" %></div>
    <div class="grid-col col-3"><%= tag :img, :src => "images/navy-front.png" %></div>
    <div class="grid-col col-3"><%= tag :img, :src => "images/red-back.png" %></div>
  </div>
</section>