---
title: Jack Reynolds
---
<section class="home">
  <header>
    <h1>JACK REYNOLDS</h1>
    <p>For orders please send an email to kosweatshirts@gmail.com</p>
  </header>
<!--   <ul class="sidebar">
    <li>Paintings</li>
    <li>Drawings</li>
    <li>Stuff</li>
    <li>KO</li>
    <li>Point</li>
    <li>Info</li>
  </ul> -->
  <div class="grid-row first">
    <div class="grid-col col-3">
      <div class="contain-it">
        <a href="#">
          <div class="parallelogram">
            <ul>
              <li>White / Navy</li>
              <li>$125</li>
            </ul>
          </div>
        </a>
        <%= tag :img, :src => "images/black-back.png" %>
      </div>
    </div>
    <div class="grid-col col-3">
    <div class="contain-it">
      <a href="#">
        <div class="parallelogram">
          <ul>
            <li>Red / White</li>
            <li>$125</li>
          </ul>
        </div>
      </a>
      <%= tag :img, :src => "images/red-front.png" %>
    </div>
    </div>
    <div class="grid-col col-3">
    <div class="contain-it">
      <a href="#">
        <div class="parallelogram">
          <ul>
            <li>White / Navy</li>
            <li>$125</li>
          </ul>
        </div>
      </a>
      <%= tag :img, :src => "images/navy-back.png" %>
    </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col col-3">
    <div class="contain-it">
      <a href="#">
        <div class="parallelogram">
          <ul>
            <li>Blue / White</li>
            <li>$125</li>
          </ul>
        </div>
      </a>
      <%= tag :img, :src => "images/blue-front.png" %>
    </div>
    </div>
    <div class="grid-col col-3">
    <div class="contain-it">
      <a href="#">
        <div class="parallelogram">
          <ul>
            <li>White / Navy</li>
            <li>$125</li>
          </ul>
        </div>
      </a>
      <%= tag :img, :src => "images/navy-front.png" %>
    </div>
    </div>
    <div class="grid-col col-3">
    <div class="contain-it">
      <a href="#">
        <div class="parallelogram">
          <ul>
            <li>Red / White</li>
            <li>$125</li>
          </ul>
        </div>
      </a>
      <%= tag :img, :src => "images/red-back.png" %>
    </div>
    </div>
  </div>
</section>